$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
$primary-color: #1D6E24;
.modal {
    &.spin .modal-dialog {
        display: inline-block;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }
    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
        }
    }
    @-o-keyframes spin {
        0% {
            -o-transform: rotate(0deg);
        }
        100% {
            -o-transform: rotate(359deg);
        }
    }
    @-ms-keyframes spin {
        0% {
            -ms-transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(359deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }
    /** End of icon animation **/
    &.pulse .modal-dialog {
        -webkit-animation: pulse 2s linear;
        -moz-animation: pulse 2s linear;
        -o-animation: pulse 2s linear;
        animation: pulse 2s linear;
    }
    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0.5);
        }
        50% {
            -webkit-transform: scale(1.1);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    @-moz-keyframes pulse {
        0% {
            -moz-transform: scale(0.5);
        }
        50% {
            -moz-transform: scale(1.1);
        }
        100% {
            -moz-transform: scale(1);
        }
    }
    @-o-keyframes pulse {
        0% {
            -o-transform: scale(0.5);
        }
        50% {
            -o-transform: scale(1.1);
        }
        100% {
            -o-transform: scale(1);
        }
    }
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    &.zoom-full .modal-dialog {
        width: 100%;
        -webkit-animation: zoom-full 2s linear;
        -moz-animation: zoom-full 2s linear;
        -o-animation: zoom-full 2s linear;
        animation: zoom-full 2s linear;
    }
    @-webkit-keyframes zoom-full {
        0% {
            -webkit-transform: scale(0.2);
        }
        50% {
            -webkit-transform: scale(0.5);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    @-moz-keyframes zoom-full {
        0% {
            -moz-transform: scale(0.2);
        }
        50% {
            -moz-transform: scale(0.5);
        }
        100% {
            -moz-transform: scale(1);
        }
    }
    @-o-keyframes zoom-full {
        0% {
            -o-transform: scale(0.2);
        }
        50% {
            -o-transform: scale(0.5);
        }
        100% {
            -o-transform: scale(1);
        }
    }
    @keyframes zoom-full {
        0% {
            transform: scale(0.2);
        }
        50% {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1);
        }
    }
}

//bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@font-face {
    font-family: default_font;
    src: url(../fonts/JosefinSans-Regular.ttf);
    font-weight: 'normal';
}

@font-face {
    font-family: default_font_bold;
    src: url(../fonts/JosefinSans-SemiBold.ttf);
    font-weight: 'bold';
}

// main view styles
html,
body {
    color: #444;
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: default_font;
    font-weight: 300;
}

html {
    overflow: hidden;
}

ul {
    list-style: none;
}

.bold-font {
    font-family: default_font_bold;
}

.transparent-modal {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    .modal-header {
        border-bottom: 0px !important;
        padding: 0px;
        button.close {
            font-size: 30px;
            color: #FFF;
            opacity: 1;
        }
    }
}

.white-card {
    background-color: #FFF;
    border-radius: 4px;
    color: #444;
    padding: 5px;
    margin: 5px 0px;
}

.black-card {
    background-color: #7B7171;
    border-radius: 4px;
    color: #FAF4F4;
    padding: 5px;
    margin: 5px 0px;
}

.major-event {
    background-color: #52A09A;
    border-radius: 4px;
    color: #FFF;
    padding: 5px;
    margin: 5px 0px;
}

.upcoming-event {
    background-color: #D6D3BA;
    border-radius: 4px;
    color: #2D2D28;
    padding: 5px;
    margin: 5px 0px;
}

.achievement {
    background-color: #5F586B;
    border-radius: 4px;
    color: #FFF;
    padding: 5px;
    margin: 5px 0px;
}

.lift-on-hover {
    transition: 0.5s ease;
    &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
        -web-kit-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    }
}

.main-view {
    margin-top: 50px;
    padding-top: 3px;
    height: inherit;
    a {
        color: inherit;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }
    .dancer-name {
        font-family: cursive;
        font-size: 20px;
    }
    .left-section {
        padding-top: 3px;
        background-color: #DACD42;
        z-index: 5;
        color: #444;
        height: inherit;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
        -web-kit-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
        border-bottom: 30px solid $primary-color;
        border-top: 3px solid $primary-color;
        .avatar {
            height: 200px;
            background-image: url("../images/dancer19.jpg");
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            background-position: -75px -90px;
            background-size: 300px;
        }
        ul.left-menu-list {
            padding: 0px;
            list-style-type: none;
            li {
                margin: 5px 0px;
                transition: 0.2s ease;
                padding-bottom: 3px;
                border-bottom: 1px solid $primary-color;
                &.active {
                    color: $primary-color;
                }
                &:hover {
                    border-bottom: 3px solid $primary-color;
                    padding-bottom: 1px;
                }
                a {
                    padding-left: 5px;
                    font-size: 16px;
                    display: block;
                }
            }
        }
    }
    .right-section {
        border-width: 10px;
        border-top:0px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BF3636), to(#AFC80B)) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(#BF3636, #AFC80B) 1 100%;
        -moz-border-image: -moz-linear-gradient(#BF3636, #AFC80B) 1 100%;
        -o-border-image: -o-linear-gradient(#BF3636, #AFC80B) 1 100%;
        border-image: linear-gradient(to bottom, #BF3636, #AFC80B) 1 100%;
        padding-top: 10px;
        padding-bottom: 100px;
        height: inherit;
        max-height: 100%;
        overflow: auto;
        background-image: url('../images/content_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #111;
        .home-view {
            height: inherit;
            .carousel {
                height: inherit;
                .carousel-inner {
                    height: inherit;
                    item {
                        height: 100%;
                    }
                    img {
                        max-height: 500px !important;
                    }
                }
                .carousel-control {
                    display: none;
                    width: 5% !important;
                    background-image: none !important;
                }
                .carousel-indicators {
                    bottom: -30px;
                    li {
                        border: 1px solid #444;
                        &.active {
                            background-color: #CE1A1A !important;
                        }
                    }
                }
            }
        }
        .content-view {
            height: inherit;
        }
        .contact-view {
            .contact-image {
                background-image: url("../images/dancer4.jpg");
                min-height: 350px;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .social-network-icons {
                margin-top: 15px;
                i {
                    font-size: 30px;
                    &:hover {
                        cursor: pointer;
                        color: #AFC80B;
                    }
                }
            }
        }
        .performances-view {
            font-size: 12px;
            ul {
                padding-left: 20px;
                li.event-card {
                    padding: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .photos-view,
        .awards-view,
        .reviews-view {
            img {
                height: 150px;
                width: 90%;
                &:hover {
                    cursor: pointer;
                }
            }
            .photo-expand-view {
                .modal-dialog {
                    background: transparent;
                    color: #fff;
                    width: 650px;
                    height: 500px;
                }
                .carousel {
                    .carousel-indicators {
                        display: none;
                    }
                    .carousel-inner {
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .review-expand-view {
            .carousel {
                .carousel-indicators {
                    display: none;
                }
                .carousel-inner {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .videos-view {
            #video-player {
                max-height: 450px;
                width: 100%;
            }
            .carousel {
                margin-top: 10px;
                .carousel-inner {
                    img {
                        height: 80px;
                        width: 150px;
                        display: inline-block;
                        margin: 0px 5px !important;
                        padding: 3px 3px !important;
                    }
                }
                .carousel-control {
                    background-image: none !important;
                }
                .carousel-indicators {
                    display: none;
                }
            }
        }
    }
}

.card {
    padding: 5px 0px;
    color: #444;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    -web-kit-box-shadow: 0 3px 3px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .19);
    border: 1px solid #ccc;
}

.mandatory-field {
    color: #F00 !important;
    font-weight: bolder;
}

.navbar-default {
    background-color: #0D6D2F;
    border-bottom: 0px;
    border-top: 4px solid #BF3636;
    .navbar-brand {
        font-family: brand_font;
        font-size: 45px;
        color: #E6EA48;
        background-image: url('../images/natraj.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover,
        &:focus {
            color: #E6EA48;
        }
    }
    ul {
        li {
            padding-bottom: 4px;
            border-bottom: 0px;
            transition: 0.5s ease;
            color: #6D9899 !important;
            a {
                color: inherit !important;
            }
            &:hover {
                padding-bottom: 0px;
                border-bottom: 4px solid #E6EA48;
            }
            &.active {
                color: #E6EA48 !important;
                a {
                    background-color: transparent !important;
                }
            }
        }
    }
}

.img-thumb {
    border: 2px solid #FFF;
    border-radius: 10px;
}

.spinner-hide .loading {
    visibility: visible;
}

.loading {
    position: absolute;
    top: 40%;
    left: 45%;
    height: 15% !important;
    width: 15% !important;
}

.spinner-show .loading {
    visibility: hidden;
}


/*anim-in-out*/

.anim-in-out.anim-in-setup.anim-fade,
.anim-in-out.anim-in-setup .anim-fade {
    opacity: 0;
}

.anim-in-out.anim-in-setup.anim-slide-left,
.anim-in-out.anim-in-setup .anim-slide-left {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.anim-in-out.anim-in-setup.anim-slide-right,
.anim-in-out.anim-in-setup .anim-slide-right {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.anim-in-out.anim-in-setup.anim-slide-below,
.anim-in-out.anim-in-setup .anim-slide-below {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
}

.anim-in-out.anim-in-setup.anim-slide-below-fade,
.anim-in-out.anim-in-setup .anim-slide-below-fade {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
}

.anim-in-out.anim-in-setup.anim-zoom-out,
.anim-in-out.anim-in-setup .anim-zoom-out {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.anim-in-out.anim-in-setup.anim-zoom-in,
.anim-in-out.anim-in-setup .anim-zoom-in {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
}

.anim-in-out.anim-in-setup.anim-zoom-out-full,
.anim-in-out.anim-in-setup .anim-zoom-out-full {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.anim-in-out.anim-in-setup.anim-zoom-in-full,
.anim-in-out.anim-in-setup .anim-zoom-in-full {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10);
}

.anim-in-out.anim-in.anim-fade,
.anim-in-out.anim-in .anim-fade {
    opacity: 1;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-slide-left,
.anim-in-out.anim-in .anim-slide-left {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-slide-right,
.anim-in-out.anim-in .anim-slide-right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-slide-below,
.anim-in-out.anim-in .anim-slide-below {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-slide-below-fade,
.anim-in-out.anim-in .anim-slide-below-fade {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-zoom-out,
.anim-in-out.anim-in .anim-zoom-out {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-zoom-in,
.anim-in-out.anim-in .anim-zoom-in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-zoom-out-full,
.anim-in-out.anim-in .anim-zoom-out-full {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-in.anim-zoom-in-full,
.anim-in-out.anim-in .anim-zoom-in-full {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-fade,
.anim-in-out.anim-out-setup .anim-fade {
    opacity: 1;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-slide-left,
.anim-in-out.anim-out-setup .anim-slide-left {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-slide-right,
.anim-in-out.anim-out-setup .anim-slide-right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-slide-below,
.anim-in-out.anim-out-setup .anim-slide-below {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-slide-below-fade,
.anim-in-out.anim-out-setup .anim-slide-below-fade {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-zoom-out,
.anim-in-out.anim-out-setup .anim-zoom-out {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-zoom-in,
.anim-in-out.anim-out-setup .anim-zoom-in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-zoom-out-full,
.anim-in-out.anim-out-setup .anim-zoom-out-full {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out-setup.anim-zoom-in-full,
.anim-in-out.anim-out-setup .anim-zoom-in-full {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-swap,
.anim-in-out.anim-out .anim-swap {
    display: none;
}

.anim-in-out.anim-out.anim-fade,
.anim-in-out.anim-out .anim-fade {
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-slide-left,
.anim-in-out.anim-out .anim-slide-left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-slide-right,
.anim-in-out.anim-out .anim-slide-right {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-slide-below,
.anim-in-out.anim-out .anim-slide-below {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-slide-below-fade,
.anim-in-out.anim-out .anim-slide-below-fade {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-zoom-out,
.anim-in-out.anim-out .anim-zoom-out {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-zoom-in,
.anim-in-out.anim-out .anim-zoom-in {
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-zoom-out-full,
.anim-in-out.anim-out .anim-zoom-out-full {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-zoom-in-full,
.anim-in-out.anim-out .anim-zoom-in-full {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

@font-face {
    font-family: lobster_font;
    src: url(../fonts/LobsterTwo-Bold.otf);
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 30px !important;
    }
}

@media only screen and (min-width:770px) and (max-width: 968px) {
    .main-view {
        margin-top: 100px;
    }
}

.audio-controls {
    padding: 5px;
    background-color: #AFA3A3;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 10px;
    i.fa-play,
    i.fa-pause {
        margin-right: 5px;
    }
    i:hover {
        cursor: pointer;
    }
}

a.beat {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #94351D !important;
    opacity: 1;
    -moz-animation: beat 2s infinite linear;
    -o-animation: beat 2s infinite linear;
    -webkit-animation: beat 2s infinite linear;
    animation: beat 2s infinite linear;
}

@-moz-keyframes beat {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes beat {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes beat {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes beat {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes beat {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
