<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body ng-app="dancerApp" data-ng-controller="RootController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index.html">&nbsp;&nbsp;&nbsp;<span style="font-family:lobster_font;font-size:30px">Lalitha Sindhuri</span></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="font-family:default_font_bold">
                        <li data-ng-repeat="menu in left_menus" data-ng-class="{ 'active' : activateMenu(menu.hash)}"><a href="javascript:void(0);" data-ui-sref="{{menu.hash}}"><i class="fa fa-{{menu.icon}}">&nbsp;</i>{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <div class="row-fluid main-view">
        <!-- left section -->
        <!-- <div class="col-md-2 col-sm-3 left-section">
            <div class="text-center">
                <div class="avatar"></div>
                <p class="text-center dancer-name"><b>Sindhuri</b></p>
                <hr style="border-top:1px solid #0D6D2F">
            </div>
            <ul class="left-menu-list" data-ng-cloak>
                <li data-ng-repeat="menu in left_menus" data-ng-class="{ 'active' : activateMenu(menu.hash)}"><a href="javascript:void(0);" data-ui-sref="{{menu.hash}}"><i class="fa fa-{{menu.icon}}">&nbsp;</i>{{menu.name}}</a>
                </li>
            </ul>
        </div> -->
        <!-- right section -->
        <div class="col-md-12 col-sm-12 col-xs-12 right-section">
            <div data-ui-view="" class="content-view anim-in-out anim-slide-below-fade" data-anim-speed="500"></div>
            <div class="audio-controls">
                <i class="fa fa-play" tooltip="Play" tooltip-placement="bottom" data-ng-if="isAudioPaused" data-ng-click="playAudio()"></i>
                <i class="fa fa-pause" tooltip="Pause" tooltip-placement="bottom" data-ng-if="!isAudioPaused" data-ng-click="pauseAudio()"></i>
                <i class="fa fa-volume-up" tooltip="Mute" tooltip-placement="bottom" data-ng-if="!isAudioMuted" data-ng-click="muteAudio()"></i>
                <i class="fa fa-volume-off" tooltip="Un-mute" tooltip-placement="bottom" data-ng-if="isAudioMuted" data-ng-click="unmuteAudio()"></i>
            </div>
            <audio id="audioEl" src="tunes/videoplayback.mp4" autoplay>
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/constants/AppContext.js"></script>
    <script src="scripts/directives/spinnerDirective.js"></script>
    <script src="scripts/controllers/RootController.js"></script>
    <script src="scripts/controllers/HomeController.js"></script>
    <script src="scripts/controllers/PerformancesController.js"></script>
    <script src="scripts/controllers/PhotosController.js"></script>
    <script src="scripts/controllers/AwardsController.js"></script>
    <script src="scripts/controllers/ContactController.js"></script>
    <script src="scripts/controllers/VideosController.js"></script>
    <script src="scripts/controllers/ReviewsController.js"></script>
    <script type="text/javascript">
    var audioEl = $('#audioEl');
    audioEl.prop('volume',0.5);
    audioEl.on('ended',function(){
        $('#audioEl').remove();
        $('.audio-controls').remove();
    });
    </script>
    <!-- endbuild -->
</body>

</html>
