<div class="awards-view">
    <div class="col-md-12 col-sm-12 col-xs-12 anim-zoom-out-full">
        <div class="col-md-3 col-sm-4 col-xs-12  form-group" data-ng-repeat="pic in images">
            <div class="black-card text-center">
                <img class="img-thumb" spinner-on-load data-ng-click="expandImage($index);" ng-src="{{pic.thumb}}">
                <p>{{pic.description}}</p>
                <span class="loading"><span class="fa fa-spinner fa-spin fa-large"></span></span>
            </div>
        </div>
    </div>
    <div class="modal pulse photo-expand-view" id="photo-expand-modal" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content transparent-modal">
                <div class="modal-header clearfix">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <carousel interval="0">
                        <slide ng-repeat="img in carousel_images" active="slide.active">
                            <img data-ng-if="slide.active" ng-src="{{img.src}}" spinner-on-load>
                            <span class="loading"><span class="fa fa-spinner fa-spin fa-large"></span></span>
                        </slide>
                    </carousel>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
