<form class="contact-form row contact-view">
    <div class="col-md-6 col-lg-9 col-sm-6 text-center">
        <div class="hidden-xs">
            <img src="images/dancer4.jpg" style="width:100%;height:100%;">
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <label for="person-name">Name<small class="mandatory-field">*</small>
                </label>
                <input type="text" data-ng-model="contactObj.name" id="person-name" maxlength="30" class="form-control form-group" />
            </div>
            <div class="col-md-12">
                <label for="person-mobile">Mobile Number<small class="mandatory-field">*</small>
                </label>
                <input type="text" data-ng-model="contactObj.mobile" id="person-mobile" maxlength="10" class="form-control form-group" />
            </div>
            <div class="col-md-12">
                <label for="person-email">Email<small class="mandatory-field">*</small>
                </label>
                <input type="text" id="person-email" data-ng-model="contactObj.email" maxlength="30" class="form-control form-group" />
            </div>
            <div class="col-md-12">
                <label for="person-message">Message<small class="mandatory-field">*</small>
                </label>
                <textarea rows="5" id="person-message" data-ng-model="contactObj.message" maxlength="200" class="form-control form-group"></textarea>
            </div>
            <div class="col-md-12 text-right">
                <input data-ng-click="submitForm()" type="button" class="btn btn-warning" value="Send" />
            </div>
            <p class="col-md-12 text-center">
                <a class="beat" href="/docs/LalithaSindhuri.docx" download><i class="fa fa-download"></i>Download my brochure</a>
            </p>
            <p class="col-md-12 social-network-icons text-center">
                <span class="text-center" style="font-size:14px">Visit my social pages</span><br>
                <a tooltip="View me on Facebook" tooltip-placement="bottom" href="https://www.facebook.com/lalithasindhuridancer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a tooltip="View me on Twitter" tooltip-placement="bottom" href="https://twitter.com/lalithasindhuri" target="_blank"><i class="fa fa-twitter"></i></a>
                <a tooltip="View my Youtube channel" tooltip-placement="bottom" href="https://youtube.com/lalitha65" target="_blank"><i class="fa fa-youtube"></i></a>
            </p>
        </div>
    </div>
</form>
