<div class="gallery-view">
    <tabset justified="true">
        <tab heading="Images" data-ng-click="setSelectedTab('images')">
            <div data-ng-if="selectedTab === 'images'" class="col-md-12 images-tab">
                <div class="col-md-4">
                    <div data-ng-repeat="img in images" data-ng-if="$index < 8" class="card form-group anim-zoom-out-full">
                        <img clas="lazy-load-image" src="{{img.src}}" data-ng-click="expandImage($index)"></img>
                        <p class="text-center">Some text</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div data-ng-repeat="img in images" data-ng-if="$index > 7 && $index < 16" class="card form-group anim-zoom-out-full">
                        <img src="{{img.src}}" data-ng-click="expandImage($index)"></img>
                        <p class="text-center">Some text</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div data-ng-repeat="img in images" data-ng-if="$index > 15" class="card form-group anim-zoom-out-full">
                        <img src="{{img.src}}" data-ng-click="expandImage($index)"></img>
                        <p class="text-center">Some text</p>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Videos" data-ng-click="setSelectedTab('videos')">
            <div data-ng-if="selectedTab === 'videos'" class="videos-tab">
                <video id="video-player" autoplay controls ng-src="{{videoUrl}}">
                </video>
            </div>
            <div class="">
                <carousel interval="-1">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <a href="javascript:void(0)" data-ng-repeat="thumb in slide.thumbs" data-ng-click="setVideo(thumb.videoUrl)"><img class="card" ng-src="{{thumb.src}}" class="lazy-load-image">
                        </a>
                    </slide>
                </carousel>
            </div>
        </tab>
    </tabset>
</div>
