<div class="home-view row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 anim-slide-left">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:35px">L</span>alitha Sindhuri is a young and talented Kuchipudi Dancer who comes from a family of traditional Kuchipudi artistes. Being the great granddaughter of Late Vempati Venkata Narayana, Lalitha cultivated natural talent in dance and shined under the able tutelage of Sri Vedantam Satya Narasimha Sastry and Sri Vedantam Venkatachalapathy. Having completed her Engineering in Computer Science, Lalitha took up her passion as profession and completed her Master of Performing Arts in Kuchipudi Dance from University of Hyderabad. She is now pursuing her PhD as a Junior Research Fellow in the Department of Dance, Univeristy of Hyderabad under the guidance of Dr. Aruna Bhikshu. Lalitha has extensively performed all over the country and has given over 750 performances. Lalitha is known for her vibrant movements and impressive Abhinaya.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;She is also known to perform on the private songs of Late Padmasri Dr.Ghantasala, Toleti Venkatreddi, Jandhyala Papayya Sastri. Lalitha has been conferred with many Awards and titles. To name a few, Balashree National Award in the year 2006 in the field of Creative Performance from the then President of India Dr. A. P. J. Abdul Kalam, Balaratna State Award in the year 2004 from the then Chief Minister of Andhra Pradesh, Dr. Y. S. Rajasekhar Reddy, Pratibha Award in the year 2005, Outstanding Young Person Award from JCI International in the year 2011, Young Women Achiever Award from Mahila Morcha, BJP in the year 2014.  Lalitha is moving forward with a vision to spread the tradition to the coming generations.  
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;She has given over 250 performances across the country and won several awards and laurels so far. An active participant in all competitions, Lalitha participated in Kothagudem Balotsav as child dancer and won more than 135 All Round Best Performance awards in different parts of the state. Lalitha Sindhuri also won `Pratibha Puraskar' for her performance in Kuchipudi from the State Government along with many acclamations from different television channels, dance critics and others.
                <!-- <span class="bold-font">She won ‘Bala Ratna' award from the state government and ‘Bala Sri' from the President of India Sri Abdul Kalam</span> -->
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <carousel interval="10000">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.src}}" spinner-on-load style="margin:auto;">
                    <span class="loading"><span class="fa fa-spinner fa-spin fa-large"></span></span>
                    <div class="carousel-caption">
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>
<div data-ng-include="profileLandingView"></div>
