<div class="performances-view">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 anim-slide-left">
            <h3 class="text-center" style="text-decoration:underline">Upcoming Events</h3>
            <ul>
                <li class="upcoming-event event-card lift-on-hover" data-ng-repeat="ev in upcomingEvents"><span>{{ev.description}}</span></li>
            </ul>
            <h3 class="text-center" style="text-decoration:underline">Other Achievements</h3>
            <ul>
                <li class="achievement event-card lift-on-hover" data-ng-repeat="ev in achievements"><span>{{ev.description}}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 anim-slide-right">
            <h3 class="text-center" style="text-decoration:underline">Major Events</h3>
            <ul style="height:500px;overflow:auto">
                <li class="major-event event-card lift-on-hover" data-ng-repeat="ev in majorEvents"><span>{{ev.description}}</span></li>
            </ul>
        </div>
    </div>
</div>
