<div class="videos-view">
    <div class="videos-tab text-center">
        <youtube-video video-id="videoId" player="videoPlayer" player-vars="playerVariables"></youtube-video>
    </div>
    <div>
        <carousel interval="-1">
            <slide ng-repeat="slide in video_thumbs" active="slide.active">
                <a href="javascript:void(0)" data-ng-repeat="thumb in slide.thumbs" data-ng-click="playVideo(thumb.videoId)"><img class="card" ng-src="{{thumb.src}}">
                </a>
            </slide>
        </carousel>
    </div>
</div>
